<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - AddressBook App</title>
</head>
<body>
<h1>Welcome to the AddressBook App</h1>

<h2>Your Address Books</h2>

<ul>
    <li th:each="book : ${addressBooks}">
        AddressBook ID:
        <a th:href="@{'/addressBooks/' + ${book.id} + '/view'}"
           th:text="${book.id}"></a>
    </li>
</ul>

<div th:if="${#lists.isEmpty(addressBooks)}">
    <p>No address books yet.</p>
</div>

<form th:action="@{/api/addressBook}" method="post">
    <button type="submit">Create New Address Book</button>
</form>

</body>
</html>
